* {
    margin: 0;
    padding: 0;
    line-height: 2rem;
    font-family: 'Lexend', 'Noto Sans JP';
}


#bg {
    position: absolute;
    background-color: #888;
    background-position: top center;
    filter: brightness(0.5);
    width: 100%;
    z-index: -1;
}

article {
    position: absolute;
    z-index: 1;
}

section {
    position: relative;
    float: left;
    padding: 1rem;
    color: white;
}

#pagename {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 2rem;
    margin: 1rem;
}

section:nth-child(7n+2) {
    background-color: rgba(96, 72, 150, 0.7);
}

/*
section:nth-child(7n+2):hover {
    background-color: rgba(86, 62, 140, 0.7);
}
*/
section:nth-child(7n+3) {
    background-color: rgba(193, 152, 89, 0.7);
}

/*
section:nth-child(7n+3):hover {
    background-color: rgba(183, 142, 79, 0.7);
}
*/
section:nth-child(7n+4) {
    background-color: rgba(27, 88, 124, 0.7);
}

/*
section:nth-child(7n+4):hover {
    background-color: rgba(17, 78, 114, 0.7);
}
*/
section:nth-child(7n+5) {
    background-color: rgba(159, 41, 54, 0.7);
}

/*
section:nth-child(7n+5):hover {
    background-color: rgba(149, 31, 44, 0.7);
}
*/
section:nth-child(7n+6) {
    background-color: rgba(78, 133, 86, 0.7);
}

/*
section:nth-child(7n+6):hover {
    background-color: rgba(68, 123, 76, 0.7);
}
*/

section:nth-child(7n) {
    background-color: rgba(240, 127, 9, 0.7);
}

/*
section:nth-child(7n):hover {
    background-color: rgba(230, 117, 0, 0.7);
}
*/
section:nth-child(7n+1):not(#title) {
    background-color: rgba(50, 50, 50, 0.7);
}

/*
section:nth-child(7n+1):not(#title):hover {
    background-color: rgba(40, 40, 40, 0.7);
}
*/
h2 {
    text-align: center;
    margin: 1rem 0;
}

ul li {
    list-style: none;
}

a {
    color: white;
}

.ln {
    display: none;
}

section a::before {
    display: inline-block;
    background-size: cover;
    filter: invert(1);
    width: 1rem;
    height: 1rem;
    margin-right: 0.2rem;
    content: '';
}

section:nth-child(n+5):nth-child(-n+7) a::before {
    background-image: url(./files/internal-link.png);
    transform: rotate(135deg);
}

section:nth-child(8) a::before {
    background-image: url(./files/external-link.png);
}

/*
button {
    background: none;
    border: none;
    color: white;
    margin: 0 0.5rem;
}

button:hover {
    color: #ddd;
    border-bottom: 1px #ddd dotted;
}
*/

label img {
    width: 1.2rem;
    height: 1.2rem;
    filter: invert(1);
}

select {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

option {
    color: #333;
}

span .ln {
    display: inline;
}

@media screen and (min-width:700px) {

    html {
        font-size: 75%;
    }

    section {
        width: calc(25% - 2rem);
        height: calc(50vh - 2rem);
        overflow-y: auto;
    }

    #bg {
        background-image: url(./files/bgi01.jpg);
        height: 100vh;
        background-size: cover;
    }
}

hr {
    border-color: white;
    margin: 10px auto;
}

@media screen and (max-width:699px) and (min-width: 440px) {

    html {
        font-size: 75%;
    }

    section {
        width: calc(50% - 2rem);
        height: calc(50vh - 2rem);
        overflow-y: auto;
    }

    #bg {
        background-image: url(./files/bgi02.jpg);
        height: 200vh;
        background-size: cover;
    }
}

@media screen and (max-width:439px) {
    section {
        width: calc(100% - 2rem);
    }

    section:first-child {
        height: 7rem;
    }

    html,
    body {
        height: 100%;
    }

    #bg {
        background: none;
    }

    article {
        background-image: url(./files/bgi03.png);
        background-size: repeat;
    }
}